.btn {
  background: $accent;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1.1em 5em;
  border-radius: 4px;
  display: inline-block;
  // width: 35%;
  // transition: background-color 0.1s ease-out, color 0.1s ease-out;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $white;
    background-color: $accent-darken;
    transform: scale(1.1);
  }
}