.l-claim-wrapper {
  margin-left: $margin;
  grid-column: 1 / -1;
  grid-row: 2;
}

.c-claim {
  color: $white;
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: $font-bold;

  &__break-line {
    display: block;
  }

  &--sub {
    font-size: 1.3em;
  }
}